/*
	Jason Kastrup
	Designing for Web Standards II
	Project 2
	Custom styles applied to bootstrap
*/

body {
	padding-top: 70px;
	padding-left: 5%;
	padding-right: 5%;
}

/* Navigation bar options */
.navbar-inverse .navbar-toggle {
	color: #fff;
	font-weight: bold;
	border-color: #fff;
} 
.navbar-inverse .navbar-toggle:hover {
	background-color: #ddd;
	color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
	color: #fff;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
	color: #333;
}

/* changes 'power button icon' color */
.glyphicon.glyphicon-off {
	color: red;
}

/* main article options */
article {
	border: 2px solid #999;
	border-radius: 5px;
	padding-left: 1%;
	margin: 4% 0;
}
.page-header {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	border-radius: 5px;
	border-bottom: 2px solid #999;
}
.page-logo {
	float: right;
	max-width: 50%;
	margin: 2% auto;
	padding: 2%;
}

/* game review photo options */
.gallery {
	max-width: 40%;
	max-height: 300px;
	float: right;
}

/* About ThrowBack Games class options */
.about-tbg {
	margin: 4% 1%;
	padding-top: 1%;
	border-top: 2px solid #999;
}
.atbg-head span{
	color: #66FF66;
}

/* .btn class options */
.btn {
	background-color: #66FF66;
}
.btn:hover {
	background-color: #66CC66;
}


.panel-heading {
	background-color: #66FF66;
}

/* page footer options */
footer {
	text-align: center;
	border-top: 2px solid #999;
	margin-top: 1%;
	padding-top: 5%;
	background-color: #66FF66;
}



















