/*
main.css

THROWBACK Games
Jason Kastrup

TBG Color Scheme:
Find at http://adobe.ly/1tIzVDJ
------------------------
DARK BLUE:		#0F1830;
GRAY:			#58595B;
LIGHT BLUE:		#00C4FF;
EGGSHELL:		#E6E7E8;
DARK LAVANDER:	#202024;
------------------------
*/
body {
	background: #0F1830;
}

#contenthead {
	background: linear-gradient(to bottom, rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background-image: linear-gradient(rgb(230, 231, 232) 0%, rgb(190, 231, 247) 35%, rgb(0, 196, 255) 100%);
	border: 2px solid #0F1830;

	border-radius: 20px;

	font-size: 3em;
	font-weight:bold;
	color: #202024;
	font-family: "Play", sans-serif;
	max-width: 30%;
	margin-top: 100px;
	margin-left: 5%;
	padding: 5%;

	display: inline-block;
	float: left;
	text-align: center;
}
#contenthead:hover {
	-webkit-box-shadow: 0px 0px 22px 10px rgba(30, 255, 255, 0.75);
	-moz-box-shadow: 0px 0px 22px 10px rgba(30, 255, 255, 0.75);
	box-shadow: 0px 0px 22px 10px rgba(30, 255, 255, 0.75);
}



@media only screen and (max-width: 480px) {
	#contenthead {
		float: left;
		max-width: 80%;
		margin-left: 20%;
		margin-top: 20px;
	}
}


@media only screen and (max-width: 740px) {
	#contenthead {
		font-size: 2em;
		margin-bottom: 50px;
	}
}






























