/*
main.css

THROWBACK Games
Jason Kastrup

TBG Color Scheme:
Find at http://adobe.ly/1tIzVDJ
------------------------
DARK BLUE:		#0F1830;
GRAY:			#58595B;
LIGHT BLUE:		#00C4FF;
EGGSHELL:		#E6E7E8;
DARK LAVANDER:	#202024;
------------------------
*/



/** Default styles are for MOBILE devices (smaller than 480px) **/
body {
	background: rgb(15,24,48);
	background: -moz-linear-gradient(top,  rgba(15,24,48,1) 57%, rgba(32,32,36,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,rgba(15,24,48,1)), color-stop(99%,rgba(32,32,36,1)));
	background: -webkit-linear-gradient(top,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	background: -o-linear-gradient(top,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	background: -ms-linear-gradient(top,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	background: linear-gradient(to bottom,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1830', endColorstr='#202024',GradientType=0 );
}
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    font-weight: bold;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
#cta {
	dispaly: none;
}
#cta p {
	display: none;
}
img{
	max-width:100%;
	height:auto;
}
nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

nav ol li {
	width: 80%;
	height: 50%;
	margin: 5% auto;
	font-weight: bold;

	border: 2px solid #0F1830;
	border-radius: 5px;

	background: rgb(0,98,127);
	background: -moz-linear-gradient(top,  rgba(0,98,127,1) 0%, rgba(0,176,229,1) 50%, rgba(0,147,191,1) 51%, rgba(0,196,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,98,127,1)), color-stop(50%,rgba(0,176,229,1)), color-stop(51%,rgba(0,147,191,1)), color-stop(100%,rgba(0,196,255,1)));
	background: -webkit-linear-gradient(top,  rgba(0,98,127,1) 0%,rgba(0,176,229,1) 50%,rgba(0,147,191,1) 51%,rgba(0,196,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,98,127,1) 0%,rgba(0,176,229,1) 50%,rgba(0,147,191,1) 51%,rgba(0,196,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,98,127,1) 0%,rgba(0,176,229,1) 50%,rgba(0,147,191,1) 51%,rgba(0,196,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,98,127,1) 0%,rgba(0,176,229,1) 50%,rgba(0,147,191,1) 51%,rgba(0,196,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00627f', endColorstr='#00c4ff',GradientType=0 );
}
nav ol li:hover{
	background: rgb(242,246,248);
	background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1)));
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
	color: #202024;
}

nav ol li p {
	font-size: 1.5em;
	color: #E6E7E8;;
	margin: 0;
	padding: 7% 5%;
	text-align: center;
}
nav ol li p:hover {
	color: #202024;
}

.bigonly {
	display: none;
}

.bannermain {
	display: none;
}

hgroup {
	border-bottom: 1px solid #000;
	padding-bottom: 1%;
}
hgroup * {
	margin: 0;
}

article {
	border-top: 1px solid #000;
	border-radius: 10px;
	margin-top: 75px;
	padding: 3%;
	background-color: #fff;

}

a {
	font-color: #202024;
}

/* Devices larger than 480px (tablet/small laptop) */
@media only screen and (min-width: 480px) {

	#wrapper {

	}
	.mobileonly {
		display: none;
	}


	nav {
		width: 30%;
		float: left;
		margin: 6% auto;
	}
	nav ol {
		margin: 0 auto;
	}

	nav ol li {
		margin: 4% auto;	
		width: 80%;
	}

	.bannermain {
		display: inline;
		float: left;
		width: 65%;
		margin: 2% auto;
		margin-bottom: 0;
		height: auto;
	
	}

	.logo {
		
	}

	article {
		clear: both;
		width: 70%;
		margin: 0 auto;
	}
}

/* Devices larger than 960px (desktop) */
@media only screen and (min-width: 960px) {
	.bigonly {
		display: inline-block;
		float: left;
		text-align: center;
	}
	a.ctalink {
		color: #202024;
	}
	.ctalink {
		text-decoration: none;
		border-radius: 0;
		border: none;
	}
	div#cta {
		clear: both;
		display: block;
		background-color: #0F1830;
		-webkit-animation: changeBG 15s infinite alternate;
		animation: changeBG 15s infinite alternate;
		

		width: 100%;
		height: 20em;
		margin-bottom: 20px;
	}
	@-webkit-keyframes changeBG {
		0% { background-color: #0F1830; }
		50% { background-color: #e6e7e8; }
		100% { background-color: #00C4FF; }
	}
	@-moz-keyframes changeBG {
		0% { background-color: #0F1830; }
		50% { background-color: #e6e7e8; }
		100% { background-color: #00C4FF; }
	}
	@keyframes changeBG {
		0% { background-color: #0F1830; }
		50% { background-color: #e6e7e8; }
		100% { background-color: #00C4FF; }
	}

	#cta p {
		display: block;
		width: 40%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		font-weight: bold;
		font-size: 1.3em;
		font-family: 'Play', sans-serif;
		color: #202024;

		background: #e6e7e8;
		-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

		border-top: 1px solid #202024;
		border-bottom: 1px solid #0F1830;

	}
	#cta p:hover {
		background: rgb(230,231,232);
		background: -moz-linear-gradient(top,  rgba(230,231,232,1) 0%, rgba(190,231,247,1) 35%, rgba(0,196,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,231,232,1)), color-stop(35%,rgba(190,231,247,1)), color-stop(100%,rgba(0,196,255,1)));
		background: -webkit-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e8', endColorstr='#00c4ff',GradientType=0 );

	}


	#cta p:first-child {  
		border-top: none;
	}
	#cta p:first-child:hover {

	}
	#cta p:last-child {
		border-bottom: none;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;

	}
	nav {
		width: 100%;
		float: none;
		margin: 0;
		margin-bottom: 2%;
		position: relative;

		background: #E6E7E8;
	}
	nav ol {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
	}
	nav ol li {
		display: inline-block;
		float: left;
		height: auto;
		width: 15%;
		margin: 0 auto;
		text-align: center;

		border: none;
		background: none;
	}
	nav ol li p {
		color: #202024;
	}

	nav ol li:hover {
		background: rgb(230,231,232);
		background: -moz-linear-gradient(top,  rgba(230,231,232,1) 0%, rgba(190,231,247,1) 35%, rgba(0,196,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,231,232,1)), color-stop(35%,rgba(190,231,247,1)), color-stop(100%,rgba(0,196,255,1)));
		background: -webkit-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e8', endColorstr='#00c4ff',GradientType=0 );
	}
	.logo {
		max-height: 50%;
	}
	.bannermain {
		max-width: 50%;
	}

}


















