/*
TBG Color Scheme:
Find at http://adobe.ly/1tIzVDJ
------------------------
DARK BLUE:		#0F1830;
GRAY:			#58595B;
LIGHT BLUE:		#00C4FF;
EGGSHELL:		#E6E7E8;
DARK LAVANDER:	#202024;
------------------------
*/
body {
	background: rgb(15,24,48);
	background: -moz-linear-gradient(top,  rgba(15,24,48,1) 57%, rgba(32,32,36,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,rgba(15,24,48,1)), color-stop(99%,rgba(32,32,36,1)));
	background: -webkit-linear-gradient(top,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	background: -o-linear-gradient(top,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	background: -ms-linear-gradient(top,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	background: linear-gradient(to bottom,  rgba(15,24,48,1) 57%,rgba(32,32,36,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1830', endColorstr='#202024',GradientType=0 );

}
nav {
	width: 100%;
	float: none;
	margin: 0;
	margin-bottom: 2%;
	position: relative;

	background: #E6E7E8;
}
nav ol {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}
nav ol li p {
	font-size: 1.5em;
	color: #202024;;
	margin: 0;
	padding: 7% 5%;
	text-align: center;
}
nav ol li {
	display: inline-block;
	float: left;
	height: auto;
	width: 15%;
	margin: 0 auto;
	text-align: center;
	border: none;
	background: none;
}
nav ol li:hover {
	background: rgb(230,231,232);
	background: -moz-linear-gradient(top,  rgba(230,231,232,1) 0%, rgba(190,231,247,1) 35%, rgba(0,196,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,231,232,1)), color-stop(35%,rgba(190,231,247,1)), color-stop(100%,rgba(0,196,255,1)));
	background: -webkit-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e8', endColorstr='#00c4ff',GradientType=0 );
}


form {
	width: 60%;
	margin: 2% auto;
	position: relative;
	color: #202024;

	background: rgb(230,231,232);
	background: -moz-linear-gradient(top,  rgba(230,231,232,1) 0%, rgba(190,231,247,1) 35%, rgba(0,196,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,231,232,1)), color-stop(35%,rgba(190,231,247,1)), color-stop(100%,rgba(0,196,255,1)));
	background: -webkit-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(230,231,232,1) 0%,rgba(190,231,247,1) 35%,rgba(0,196,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e8', endColorstr='#00c4ff',GradientType=0 );

	border: 1px solid #aaa;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
	-moz-box-shadow:5px 5px 11px rgba(0,0,0,0.42);
	box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
	padding: 2%;
}

h2 {
	margin: 2% auto;
	text-align: center;
}

fieldset {
	margin-top: 5%;
	margin-bottom: 5%;
	clear: both;
	background: #E6E7E8;
	border-color: #202024;
	border-radius: 10px;
	color: #202024;
	font-family: 'Play', sans-serif;
}
form fieldset:first-child {
	margin-top: 2%;
}
form fieldset:last-child {
	margin-bottom: 2%;
}

/*--- legends and labels ---*/
legend {
	font-size: 1.4em;

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(251,251,251,0) 16%, rgba(239,239,240,1) 65%, rgba(230,231,232,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(16%,rgba(251,251,251,0)), color-stop(65%,rgba(239,239,240,1)), color-stop(100%,rgba(230,231,232,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(251,251,251,0) 16%,rgba(239,239,240,1) 65%,rgba(230,231,232,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(251,251,251,0) 16%,rgba(239,239,240,1) 65%,rgba(230,231,232,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(251,251,251,0) 16%,rgba(239,239,240,1) 65%,rgba(230,231,232,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(251,251,251,0) 16%,rgba(239,239,240,1) 65%,rgba(230,231,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6e7e8',GradientType=0 );

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
fieldset legend:nth-child(2){
	border-bottom: 1px solid #202024;
	margin-bottom: 10px;
	font-style: italic;
	font-weight: bold;
}
label {
	display: block;
}
/* labels for nested list items */
.sublab {
	display:inline-block;
	font-size: 1em;
	font-weight: normal;
}
.labinfo {
	padding: 0;
	font-size: .8em;
}

/*--- input fields ---*/
input::-webkit-input-placeholder { /* WebKit browsers */
  padding-left: 1%;
  color: #fff;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	padding-left: 1%;
	color: #fff;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	padding-left: 1%;
	color: #fff;

}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
	padding-left: 1%;
	color: #fff;

}
input{
	border: 1px solid rgba(0,0,0,0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[required] {
	color: #E6E7E8;
	background: #0F1830;
	-webkit-transition: background-color .75s ease;
	-moz-transition: background-color .75s ease;
	-o-transition: background-color .75s ease;
	transition: background-color .75s ease;
}
input[required]:hover {
	background-color: #fff;
	color: #0F1830;
}
textarea:hover{
	background-color: #fff;
	color: #0F1830;
}
input[type="email"], input[type="text"]{
	width: 50%;
}

input[type="radio"], input[type="checkbox"]{
	display: inline;
	margin-left: 2%;
}
input[type="range"] {
	width: 30%;
	display: inline-block;
}
textarea {
	display: block;
	width: 50%;
	height: 5em;
	color: #fff;
	background: #0F1830;
	-webkit-transition: background-color .75s ease;
	-moz-transition: background-color .75s ease;
	-o-transition: background-color .75s ease;
	transition: background-color .75s ease;

	border: 1px solid rgba(,0,0,0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
select {
	border-color: rgb(216,240,252);
	background: rgb(224,243,250);
	background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1)));
	background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	background: -o-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	background: -ms-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 );
}

/*--- lists and list items ---*/
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	padding: 1% 0;
	border-top: 1px solid rgba(25,153,53,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
ol li:first-child{
	border-top: none;
}
ol li:last-child {
	border-bottom: none;
}
ol li ol li {
	display: inline;
	border-top: none;
	border-bottom: none;
}

.submitbtn {
	float:right;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1em;

	color: #E6E7E8;

	background: rgb(80,127,255);
	background: -moz-linear-gradient(top,  rgba(80,127,255,1) 0%, rgba(72,115,229,1) 41%, rgba(20,32,64,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,127,255,1)), color-stop(41%,rgba(72,115,229,1)), color-stop(100%,rgba(20,32,64,1)));
	background: -webkit-linear-gradient(top,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	background: -o-linear-gradient(top,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	background: -ms-linear-gradient(top,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	background: linear-gradient(to bottom,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#507fff', endColorstr='#142040',GradientType=0 );

	border-color: #202024;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	transition-property: background;
	transition-duration: 2s;
}
.submitbtn:hover, .buttonnav:hover {
	background: rgb(20,32,64);
	background: -moz-linear-gradient(top,  rgba(20,32,64,1) 0%, rgba(72,115,229,1) 59%, rgba(80,127,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,32,64,1)), color-stop(59%,rgba(72,115,229,1)), color-stop(100%,rgba(80,127,255,1)));
	background: -webkit-linear-gradient(top,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142040', endColorstr='#507fff',GradientType=0 );

}

.button {
	float: left;
	margin-bottom: 1%;
	margin-left: 1%;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;

	color: #E6E7E8;

	background: rgb(80,127,255);
	background: -moz-linear-gradient(top,  rgba(80,127,255,1) 0%, rgba(72,115,229,1) 41%, rgba(20,32,64,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,127,255,1)), color-stop(41%,rgba(72,115,229,1)), color-stop(100%,rgba(20,32,64,1)));
	background: -webkit-linear-gradient(top,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	background: -o-linear-gradient(top,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	background: -ms-linear-gradient(top,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	background: linear-gradient(to bottom,  rgba(80,127,255,1) 0%,rgba(72,115,229,1) 41%,rgba(20,32,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#507fff', endColorstr='#142040',GradientType=0 );

	border: 2px solid #202024;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	transition-property: background;
	transition-duration: 2s;
}
.button:hover {
	background: rgb(20,32,64);
	background: -moz-linear-gradient(top,  rgba(20,32,64,1) 0%, rgba(72,115,229,1) 59%, rgba(80,127,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,32,64,1)), color-stop(59%,rgba(72,115,229,1)), color-stop(100%,rgba(80,127,255,1)));
	background: -webkit-linear-gradient(top,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(20,32,64,1) 0%,rgba(72,115,229,1) 59%,rgba(80,127,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142040', endColorstr='#507fff',GradientType=0 );
	color: #e6e7e8;
}
.button.top{
	display: none;
	clear:both;
	float:right;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: #E6E7E8; /*color of your choosing*/
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 860px) {
	nav, 
	nav ol, 
	nav ol li, 
	nav ol li p {
		display: none;
	}
	.button.top {
		display: inline-block;
	}
}
@media (max-width: 700px) {
	form{
		width: 95%;
	}
	ol li ol li {
		display: block;
	}
	textarea {
		width: 100%;
		height: 10em;
	}
	input[type="email"], input[type="text"]{
		width: 100%;
	}
}










