/*
reviews.css

THROWBACK Games
Jason Kastrup

TBG Color Scheme:
Find at http://adobe.ly/1tIzVDJ
------------------------
DARK BLUE:		#0F1830;
GRAY:			#58595B;
LIGHT BLUE:		#00C4FF;
EGGSHELL:		#E6E7E8;
DARK LAVANDER:	#202024;
------------------------
*/

body {
	background: #0F1830;
}
#wrapper {
	padding: 2%;
}
section {
	float: left;
	width: 100%;
	height: 200px;
}

section#contenthead {
	position: relative;
	background: #E6E7E8;
	border: 2px solid #00C4FF;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
section#contenthead:hover {
	-webkit-box-shadow: 0px 0px 22px 10px rgba(30, 255, 255, 0.75);
	-moz-box-shadow: 0px 0px 22px 10px rgba(30, 255, 255, 0.75);
	box-shadow: 0px 0px 22px 10px rgba(30, 255, 255, 0.75);
}
section#contenthead p {
	position: absolute;
	bottom: -10px;
	left: 0px;
	background: #00C4FF;
	background: -moz-linear-gradient(left,  rgba(0,196,255,1) 0%, rgba(206,226,232,0) 90%, rgba(229,229,229,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,196,255,1)), color-stop(90%,rgba(206,226,232,0)), color-stop(100%,rgba(229,229,229,0)));
	background: -webkit-linear-gradient(left,  rgba(0,196,255,1) 0%,rgba(206,226,232,0) 90%,rgba(229,229,229,0) 100%);
	background: -o-linear-gradient(left,  rgba(0,196,255,1) 0%,rgba(206,226,232,0) 90%,rgba(229,229,229,0) 100%);
	background: -ms-linear-gradient(left,  rgba(0,196,255,1) 0%,rgba(206,226,232,0) 90%,rgba(229,229,229,0) 100%);
	background: linear-gradient(to right,  rgba(0,196,255,1) 0%,rgba(206,226,232,0) 90%,rgba(229,229,229,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4ff', endColorstr='#00e5e5e5',GradientType=1 );

	color: #E6E7E8;
	font-size: 2em;
	font-family: "Play", sans-serif;
	font-weight: bold;

	padding: 10px;
	padding-right: 20%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
section#contenthead img {
	max-width: 100%;
	height: auto;
}

div.item {
	cursor: pointer;
	background: #E6E7E8;
	width: 80%;
	height: 2.3em;
	text-align: center;
	vertical-align: center;
	font-family: "Play", sans-serif;
	font-size: 1.3em;
	margin-left: 10%;
	margin-top: 10px;
	border: 2px solid #00C4FF;
	border-radius: 5px;
}
div#pagetitle.bigonly {
	font-family: "Play", sans-serif;
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
	color: #e6e7e8;
	max-width: 40%;
	margin: 50px 2% 0 2%;
		
}


/* Devices larger than 480px (tablet/small laptop) */
@media only screen and (min-width: 480px) {
	section#contenthead {
		max-width: 80%;
		min-height: 265px;
		max-height: 500px;
		margin-top: 30px;
		margin-left: 10%;
		
	}
}

/* Devices larger than 960px (desktop) */
@media only screen and (min-width: 960px) {
	section#contenthead {
		max-width: 50%;
		max-height: 500px;
		margin-left: 5%;
		float: left;
	}
	section#subcontent {
		width: 40%;
		float: left;
	}
}









